body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: black;
}

.header {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px 0;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 45%;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  background: #fff;
}

.right {
  width: 60%;
  padding: 0px 50px 50px 50px;
}

.left {
  width: 40%;
  padding: 50px;
  background: black;
  color: #fff;
}

.left img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.left a {
  color: #fff;
  text-decoration: underline;
}

.right .skill {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.right .skill-name {
    min-width: 200px;
    font-size: 14px;
}

.right .boxes {
    display: flex;
    gap: 5px;
}

.right .box {
    width: 14px;
    height: 14px;
    border: 1px solid black;
}

.right .filled {
    background-color: black;
}

.footer {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer img {
  width: 80px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  margin-top: 30px;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}
